* > * {
    font-family: Inter;
    margin: 0;
}

.App-header {
    background: white;
    padding: 0 20px 0 20px;
    position: relative;
    width: 490px;
    height: 420px;
    left: 30%;
    right: 30%;
    top: 110px;

    background: #eeeeee;
    border-radius: 5px;

}

hr {
    display: block;
    margin-top: 1.6em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.head1 {
    color: #0e351f;
    left: 10px;
    font-size: 24px;
    position: relative;
    top: 20px;
}
.head2 {
    color: #0e351f;
    left: 10px;
    font-size: 14px;
    position: relative;
    font-weight: 100;
    top: 30px;
}
.name {
    top: 30px;
    position: relative;
    font-size: 16px;
}
.nametest {
    position: relative;
    top: 40px;
}
.text1 {
    position: absolute;
    top: 235px;
    left: 20px;
    width: 300px;
}
.text2 {
    position: absolute;
    top: 235px;
    left: 280px;
    width: 300px;
    height: 20px;
}
.street {
    top: 45px;
    position: relative;
    font-size: 16px;
}

.addbtn {
    position: relative;
    top: 150px;
    left: 20px;
}
.latbtn {
    position: relative;
    top: 68px;
    left: 150px;
}
