* > * {
    font-family: Inter;
    margin: 0;
}

.App-header {
    background: white;
    padding: 0 20px 0 20px;
    position: absolute;
    width: 490px;
    height: 320px;
    left: 400px;
    top: 140px;

    background: #eeeeee;
    border-radius: 5px;
    padding: 0 25px 0 20px;
}

hr {
    display: block;
    margin-top: 1.6em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}
.header2 {
    color: #0e351f;
    left: 20px;
    font-size: 34px;
    position: relative;
    top: 20px;
}
.para1 {
    position: relative;
    top: 15px;
    left: 20px;
}

.para2 {
    position: relative;
    top: 40px;
    left: 20px;
}
.addbtn {
    position: relative;
    top: 75px;
    left: 20px;
}
.latbtn {
    position: relative;
    top: -8px;
    left: 180px;
}
