.Frame{ 
position: absolute;
width: 1150px;
height: 180px;
left: 128px;
top: 321px;
background: #DEDEDE;
border-radius: 10px;
}
.Frame2{
position: absolute;
width: 1150px;
height: 180px;
left: 128px;
top: 538px;
background: #DEDEDE;
border-radius: 10px;
}
.Frame3{
position: absolute;
width: 1150px;
height: 180px;
left: 128px;
top: 755px;
background: #DEDEDE;
border-radius: 10px;
}
.img1 {
  position: absolute;
  width: 396px;
  height: 180px;
  left: 0px;
  border-radius: 10px 0px 0px 10px;
}
.topic1 {
  position: absolute;
  width: 298px;
  height: 39px;
  left: 553px;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  color: #1C5555;
  z-index: 1; 
}
.id{
position: absolute;
width: 304px;
height: 21px;
left: 553px;
top: 45px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 143%;
letter-spacing: 0.17px;
color: #1C5555;

}
.date{
position: absolute;
width: 304px;
height: 21px;
left: 553px;
top: 85px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #1C5555;
flex: none;
order: 1;
flex-grow: 0;
}
.time{
position: absolute;
width: 300px;
height: 21px;
left: 553px;
top: 130px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #1C5555;
}
.gcode{
position: absolute;
width: 12px;
height: 180px;
left: 1140px;
background: #36CE00;
border-radius: 0px 10px 10px 0px;
}
.ycode{
position: absolute;
width: 12px;
height: 180px;
left: 1140px;
background: #E8C306;
border-radius: 0px 10px 10px 0px;
}
.rcode{
position: absolute;
width: 12px;
height: 180px;
left: 1270px;
top: 755px;
background: #E81306;
border-radius: 0px 10px 10px 0px;
}

.gcircle{
position: absolute;
width: 16px;
height: 16px;
left: 1040px;
top: 7px;
background: #36CE00;
}
.active{
position: absolute;
width: 69px;
height: 21px;
left: 20px;
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 22px;
color: #1C5555;
}
.ycircle{
position: absolute;
width: 16px;
height: 16px;
left: 1040px;
top: 7px;
background: #E8C306;
}
.rcircle{
position: absolute;
width: 16px;
height: 16px;
left: 1160px;
top: 769px;
background: #E81306;
}

