.box{
  position: absolute;
  width: 794px;
  height: 80px;
  left: 60px;
  top: 960px;
  background: #1C5555;
  border-radius: 5px 5px 0px 0px;
}
.box2{
position: absolute;
width: 794px;
height: 138px;
top: 81px;
background: #073535;
border-radius: 5px 5px 0px 0px;
}