* > * {
    font-family:Inter ;
    margin: 0;
}

.App-header{
  background:white;
  padding: 0 20px 0 20px;
  position: absolute;
  width: 790px;
  height: 290px;
  left: 144px;
  top: 120px;
  
  background: #EEEEEE;
  border-radius: 5px;
  padding: 0 25px 0 20px;
}

.head1{
position: relative;
width: 275px;
height: 42px;
left: 2px;
top: 25px;

font-style: normal;
line-height: 19px;

color: #020202;
}
.App {
  height: 100vh;
  display: flex;
  justify-content: left;
  align-items: left;
  text-align: left;
}
.Paragraph{
    font-size: 14px;
    position: relative;
    top:20px;
    
}
.Email1{
    font-size: 14px;
    position: relative;
    top: 40px;
    font-weight: 500;
}
.email{
    width:300px;
    height:30px;
    border-radius: 5px;
    position: relative;
    top:45px;

  
  }
  
  

button{
  background-color:#0e351f;
  border: 1px solid ;
  position: absolute;
  width: 115px;
  height: 35px;
  left: 20px;
  top: 220px;
  color:aliceblue;
  border-radius: 5px;
  cursor: pointer;

 
}
