* > * {
  font-family: Inter;
  margin: 0;
}

.loginSide {
  float: right;
  padding: 40px;
  width: 60%;
  margin-left: 39px;
  border-color: black;
}
.test {
  position: absolute;
  top: 220px;
  right: 350px;
  font-size: 20px;
  font-family: Inter;
}
.logContain {
  margin-left: 250px;
  margin-top: 80px;
}

.btn {
  position: absolute;
  top: 145px;
  right: 230px;
}
.Picture1 {
  position: absolute;
  height: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  height: 700px;
  z-index: 1;
}
.pictureSide {
  width: 40%;
  position: relative;
}
.Picture2 {
  position: absolute;
  z-index: 2;
  top: 270px; /* Adjust the top position as needed */
  left: 130px;
  width: 400px;
}
.Picture3 {
  position: absolute;
  z-index: 2;
  top: 170px; /* Adjust the top position as needed */
  left: 90px;
  width: 160px;
}
.Picture4 {
  position: absolute;
  z-index: 2;
  top: 50px; /* Adjust the top position as needed */
  left: 30px;
  width: 90px;
}
#signInDive {
  width: 100%;
  margin-top: 30px;
  height: 40px;
  border: 10px;
  outline: none;
}
